<!DOCTYPE html>
<html lang="en">
<head>

    <title>Business Informatics community</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/templatemo-style.css">
    <!-- END MAIN CSS -->
</head>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>

    <!-- MENU -->
    <section class="navbar custom-navbar navbar-fixed-top displayNoUser" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>

                <!-- lOGO TEXT HERE -->
                <a href="#" class="navbar-brand">Business Informatics</a>
            </div>

            <!-- MENU LINKS -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-nav-first">
                    <li><a href="#top" class="smoothScroll">News</a></li>
                    <li><a href="#addApplicant" class="smoothScroll">Sign In</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#login" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-sign-in"></i>
                            Login
                        </a>
                        <div class="dropdown-menu login" aria-labelledby="navbarDropdown2">
                            <form id="loginForm" autocomplete="off">
                                <div class="form-group">
                                    <label for="formGroupExampleInput">Email</label>
                                    <input type="email" name="email" id="emailLogin" class="form-control" placeholder="Institutional email address" required="" pattern="[\w.%+-]+@@ucr\.ac\.cr" title="@@ucr.ac.cr" />
                                </div>
                                <div id="validateMessageEmail"></div>
                                <div class="form-group">
                                    <label for="formGroupExampleInput2">Password</label>
                                    <input type="password" name="password" id="passwordLogin" class="form-control password" placeholder="Password" required="" minlength="8" maxlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!.#$%^&*_=+-]).{8,8}$" title="At least 1 Uppercase, At least 1 Lowercase, At least 1 Number, At least 1 Symbol (!.#$%^&*_=+-)" />
                                    <span id="showPasswordLogin"><i class="fa fa-eye" id="iconPasswordLogin"></i></span>
                                </div>
                                <div id="validateMessagePassword"></div>
                                <div id="validateMessageFields"></div>
                                <div>
                                    <button type="submit" class="submit-btn btn-primary form-control">Login</button>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- NEWS -->
    <section id="home" class="dissplayAll">
        <div class="row">

            <div class="owl-carousel owl-theme home-slider">
                <div class="item item-first">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>Distance Learning Education Center</h1>
                                <h3>Our online courses are designed to fit in your industry supporting all-round with latest technologies.</h3>
                                <a href="#feature" class="section-btn btn btn-default smoothScroll">Discover more</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-second">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>Start your journey with our practical courses</h1>
                                <h3>Our online courses are built in partnership with technology leaders and are designed to meet industry demands.</h3>
                                <a href="#courses" class="section-btn btn btn-default smoothScroll">Take a course</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-third">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>Efficient Learning Methods</h1>
                                <h3>Nam eget sapien vel nibh euismod vulputate in vel nibh. Quisque eu ex eu urna venenatis sollicitudin ut at libero. Visit <a rel="nofollow" href="https://www.facebook.com/templatemo">templatemo</a> page.</h3>
                                <a href="#contact" class="section-btn btn btn-default smoothScroll">Let's chat</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- REGISTER APPLICANT -->
    <section id="addApplicant" class="displayNoUser">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <div class="addApplicant-info">
                        <h2>Join the Business Informatics community</h2>
                        <figure>
                            <span><i class="fa fa-newspaper-o"></i></span>
                            <figcaption>
                                <h3>Know news</h3>
                                <p>Know and comment news of Business Informatics.</p>
                            </figcaption>
                        </figure>

                        <figure>
                            <span><i class="fa fa-question"></i></span>
                            <figcaption>
                                <h3>Queries to comunnity</h3>
                                <p>Ask and answer questions to community students.</p>
                            </figcaption>
                        </figure>

                        <figure>
                            <span><i class="fa fa-calendar"></i></span>
                            <figcaption>
                                <h3>Request appointment</h3>
                                <p>Solicit your appointment with a community professor.</p>
                            </figcaption>
                        </figure>

                    </div>
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="entry-form">
                        <form id="registerApplicantForm" autocomplete="off">
                            <h2>Join community</h2>
                            <input type="text" name="firstNameApplicant" id="firstNameApplicant" class="form-control" placeholder="First name" required="" minlength="3" maxlength="50" pattern="[A-Za-z áéíóúñÑ]+">

                            <input type="text" name="lastNameApplicant" id="lastNameApplicant" class="form-control" placeholder="Last name" required="" minlength="10" maxlength="100" pattern="[A-Za-záéíóúñÑ](?=.* ).{1,}[A-Za-záéíóúñÑ]+" title="Surnames">

                            <input type="text" name="studentIdApplicant" id="studentIdApplicant" class="form-control" placeholder="Student id" required="" minlength="6" maxlength="6" pattern="(?=.*[A-Z]).{1}[0-9]+" title="Valid student id">

                            <input type="email" name="emailApplicant" id="emailApplicant" class="form-control" placeholder="Institutional email address" required="" pattern="[\w.%+-]+@@ucr\.ac\.cr" title="@@ucr.ac.cr">

                            <input type="password" name="passwordApplicant" id="passwordApplicant" class="form-control" placeholder="Password" required="" minlength="8" maxlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!.#$%^&*_=+-]).{8,8}$" title="At least 1 Uppercase, At least 1 Lowercase, At least 1 Number, At least 1 Symbol (!.#$%^&*_=+-)">
                            <span id="showPasswordApplicant"><i class="fa fa-eye" id="iconPasswordApplicant"></i></span>

                            <button type="submit" class="submit-btn form-control">Sign in</button>

                            <div id="alertMessageAddStudent"></div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- REGISTER PROFESSOR -->
    <section id="addProfessor" class="displayAdmin">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="entry-form">
                        <form id="registerProfessorForm" autocomplete="off">
                            <h2>Add Professor</h2>
                            <input type="text" name="firstNameProfessor" id="firstNameProfessor" class="form-control" placeholder="First name" required="" minlength="3" maxlength="50" pattern="[A-Za-z áéíóúñÑ]+">

                            <input type="text" name="lastNameProfessor" id="lastNameProfessor" class="form-control" placeholder="Last name" required="" minlength="10" maxlength="100" pattern="[A-Za-záéíóúñÑ](?=.* ).{1,}[A-Za-záéíóúñÑ]+" title="Surnames">

                            <input type="text" name="IdProfessor" id="idProfessor" class="form-control" placeholder="Professor id" required="" minlength="5" maxlength="5" pattern="[0-9P-]+" title="Valid professor id">

                            <input type="email" name="emailProfessor" id="emailProfessor" class="form-control" placeholder="Institutional email address" required="" pattern="[\w.%+-]+@@ucr\.ac\.cr" title="@@ucr.ac.cr">

                            <input type="password" name="passwordProfessor" id="passwordProfessor" class="form-control" placeholder="Password" required="" minlength="8" maxlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!.#$%^&*_=+-]).{8,8}$" title="At least 1 Uppercase, At least 1 Lowercase, At least 1 Number, At least 1 Symbol (!.#$%^&*_=+-)">
                            <span id="showPasswordProfessor"><i class="fa fa-eye" id="iconPasswordProfessor"></i></span>

                            <button type="submit" class="submit-btn form-control">Add</button>

                            <div id="alertMessageAddProfessor"></div>
                        </form>
                    </div>
                </div>

                <!-- REGISTER COURSE -->

                <div class="col-md-6 col-sm-12">
                    <div class="entry-form">
                        <form id="registerCourseForm" autocomplete="off">
                            <h2>Add Course</h2>
                            <input type="text" name="courseName" id="courseName" class="form-control" placeholder="Course name" required="" minlength="10" maxlength="30" title="Fill out with the course name">

                            <input type="text" name="IdCourse" id="idCourse" class="form-control" placeholder="Course code" required="" minlength="4" maxlength="4" pattern="[0-9IF-]+" title="Fill out with 4 numbers">

                            <input type="text" name="creditsNumber" id="creditsNumber" class="form-control" placeholder="Credits number" required="" minlength="1" maxlength="1" pattern="[0-4]+" title="Fill out with a number in range 0 to 4">

                            <input type="text" name="courseStatus" id="courseStatus" class="form-control" placeholder="Course status" required="" minlength="1" maxlength="1" pattern="[0-1]+" title="Fill out with 0 or 1">

                            <button type="submit" class="submit-btn form-control">Add</button>

                            <div id="alertMessageAddCourse"></div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer id="footer" class="displayAll">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2>University contacts</h2>
                        </div>
                        <address>
                            <ul class="social-icon">
                                <li><a href="https://www.facebook.com/UniversidadCostaRica" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                <li><a href="https://twitter.com/UniversidadCR" class="fa fa-twitter"></a></li>
                                <li><a href="https://www.instagram.com/universidaddecostarica" class="fa fa-instagram"></a></li>
                            </ul>
                        </address>

                        <div class="copyright-text">
                            <p>Copyright &copy; 2021 Bussiness Informatics Transactional</p>

                            <p>Project for the course of Commercial Applications 2021 at University of Costa Rica</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2>Developers info</h2>

                        </div>
                        <address>
                            <p><a href="https://github.com/JoseKatoche">José David Alvarado Céspedes</a></p>
                            <p><a href="https://github.com/Diego-Coto95">Juan Diego Coto Ramírez</a></p>
                            <p><a href="https://github.com/Jenipher099">Jenipher Mata</a></p>
                            <p><a href="https://github.com/WinstonAOR">Winston Ortega</a></p>
                        </address>

                    </div>
                </div>

            </div>
        </div>
    </footer>


    <!-- SCRIPTS -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/login.js"></script>
    <script src="/js/applicant.js"></script>
    <script src="js/professor.js"></script>
    <script src="js/course.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
</body>
</html>
