/*

Known Template 

https://templatemo.com/tm-516-known

*/

@import url('https://fonts.googleapis.com/css?family=Muli:300,700|Nunito');

body {
    background-color: #eee;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    padding-top: 70px;
}

#ucrLogo {
    width: 5%;
}



/*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    line-height: inherit;
}

h1 {
    color: #252525;
    font-size: 3em;
    line-height: normal;
}

h2 {
    color: #353535;
    font-size: 2em;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0;
}

    h3,
    h3 a {
        color: #454545;
    }

p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
}



/*---------------------------------------
     GENERAL               
  -----------------------------------------*/

html {
    -webkit-font-smoothing: antialiased;
}

a {
    color: #252525;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
}

#main_title {
    color: black;
}

a,
input, button,
.form-control {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

    a:hover, a:active, a:focus {
        color: #41ADE7;
        outline: none;
    }

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #000000;
}

.section-title {
    padding-bottom: 40px;
}



    .section-title h2 {
        margin: 0;
    }

    .section-title small {
        display: block;
    }

.overlay {
    background: rgba(20,20,20,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.entry-form {
    background: #252020;
    border-radius: 100%;
    text-align: center;
    padding: 6em;
    width: 550px;
    height: 550px;
}

    .entry-form h2 {
        color: #ffffff;
        margin: 0;
    }

    .entry-form .form-control {
        background: transparent;
        border: 0;
        border-bottom: 1px solid;
        border-radius: 0;
        box-shadow: none;
        height: 45px;
        margin: 10px 0;
    }

    .entry-form .submit-btn {
        background: #ffffff;
        border-radius: 50px;
        border: 0;
        color: #252020;
        width: 50%;
        height: 50px;
        margin: auto;
        margin-bottom: 10px;
    }

        .entry-form .submit-btn:hover {
            background: #3f51b5;
            color: #ffffff;
        }

section {
    position: relative;
    padding: 100px 0;
    box-shadow: 0px 40px #337ab7;
    border-radius: 25px;
}

#team,
#testimonial {
    background: #f9f9f9;
}

#team,
#testimonial {
    text-align: center;
}

#google-map iframe {
    border: 0;
    width: 100%;
    height: 390px;
}

.formInput-error {
    border-bottom: 1px solid red !important;
}

.headTable {
    background: #41ADE7;
    color: white;
}

    .headTable select {
        color: black;
    }

#selectTableAppointment {
    width: 10em;
    height: 2.1em;
}
/*---------------------------------------
     BUTTONS               
  -----------------------------------------*/
.section-btn {
    background: transparent;
    border-radius: 50px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: inherit;
    font-weight: normal;
    padding: 15px 30px;
    transition: 0.5s;
}

    .section-btn:hover {
        background: #ffffff;
        border-color: transparent;
    }

.sidePadding {
    padding-left: 15px;
    padding-right: 15px;
}

#buttonSubmitAddCourse {
    margin-top: 50px;
}

#buttonLogin {
    margin-top: -15px;
}



/*---------------------------------------
       SWITCH              
  -----------------------------------------*/

.switch {
    position: relative;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -.3em;
    right: 0;
    bottom: 0;
    background-color: #d9534f;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round:before {
    border-radius: 50%;
}

/*---------------------------------------
       MODAL              
  -----------------------------------------*/
#buttonCloseProfile {
    margin-right: 1em;
}

.pHeadProfile {
    padding-top: 1em;
}

.withoutBorder {
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    box-shadow: none !important;
    border-color: white;
    color: white;
}

#registerProfileProfessor textarea, #registerProfileStudent textarea {
    resize: none;
    height: 4em;
}


    #registerProfileProfessor textarea ::-webkit-input-placeholder, #registerProfileStudent textarea ::-webkit-input-placeholder {
        text-align: center;
    }

.colorLabelProfile {
    color: gray;
}

#modalProfileProfessor, #modalProfileStudent {
    background-color: #252020;
}

#textAreaCourseGroup {
    padding: 2%;
    margin-left: 13%;
    text-align: center;
    width: 70%;
}

#buttonCloseModal, #buttonCloseModalEdit, #buttonCloseModalEditNews {
    float: right;
}

#showAssociation, #showConsultTime {
    resize: none;
}

#inputAmount, #inputAssociate {
    display: flex;
    margin-left: 13%;
}

#courseTitleModal, #courseTitleModalEdit {
    margin-bottom: 5%;
}

#inputAmountPosition {
    margin-left: 2%;
    width: 36%;
}

#inputAssociatePosition {
    margin-left: 10%;
    width: 36%;
}

#startHourConsult, #endHourConsult {
    display: inline-block;
    margin-bottom: 2em;
    width: 23%;
}

#startHourConsult {
    margin-left: 2em;
    margin-right: 2em;
}

#buttonAddConsultTime {
    margin-bottom: 2em;
}


#dayConsultProfessor {
    display: inline-block;
    width: 40%;
}

#appointmentComment {
    resize: none;
}
/*---------------------------------------
    PRE LOADER              
-----------------------------------------*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
}

.spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
}

    .spinner:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 45px;
        height: 45px;
        margin-top: -10px;
        margin-left: -10px;
        border-radius: 50%;
        border: 1px solid #575757;
        border-top-color: #ffffff;
        animation: spinner .9s linear infinite;
    }

@-webkit-@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

#professorgroup {
    width: 50%;
    margin-bottom: 1em;
    margin-top: 1em;
}
/*---------------------------------------
      MENU              
  -----------------------------------------*/
.custom-navbar {
    background: #ffffff;
    border-top: 5px solid #41ADE7;
    border-bottom: 0;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
    margin-bottom: 0;
    padding: 0;
}

    .custom-navbar .navbar-brand {
        color: #454545;
        font-size: 18px;
        font-weight: bold;
        line-height: 40px;
    }

    .custom-navbar .navbar-nav.navbar-nav-first {
        margin-left: 8em;
    }

    .custom-navbar .navbar-nav.navbar-right li a {
        padding-right: 12px;
        padding-left: 12px;
    }

        .custom-navbar .navbar-nav.navbar-right li a .fa {
            background: #41ADE7;
            border-radius: 100%;
            color: #ffffff;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            display: inline-block;
            margin-right: 5px;
        }

    .custom-navbar .nav li a {
        line-height: 40px;
        color: #575757;
        padding-right: 22px;
        padding-left: 22px;
    }

    .custom-navbar .navbar-nav > li > a:hover,
    .custom-navbar .navbar-nav > li > a:focus {
        background-color: transparent;
    }

    .custom-navbar .nav li a:hover {
        background-color: #41ADE7;
        color: #ffffff;
    }

    .custom-navbar .nav li.active > a {
        background-color: #41ADE7;
        color: #ffffff;
    }

    .custom-navbar .navbar-toggle {
        border: none;
        padding-top: 10px;
    }

    .custom-navbar .navbar-toggle {
        background-color: transparent;
    }

        .custom-navbar .navbar-toggle .icon-bar {
            background: #252525;
            border-color: transparent;
        }

/*---------------------------------------
        LOGIN            
  -----------------------------------------*/
.li-101, .singOut {
    width: 109%;
}

.li-100, .singOut {
    width: 100%;
}

#dropMenu {
    padding: 0px 0 !important;
}

.login {
    width: 220px;
    height: 240px;
    border-radius: 2% !important;
    background-color: aliceblue !important;
    padding: 10px;
    margin-top: 0.2em !important;
}

.btn-login {
    margin-left: 65px;
}

#iconPasswordLogin {
    font-size: 20px;
}

#showPasswordLogin {
    color: grey;
    position: relative;
    bottom: 1.7em;
    left: 87%;
}

#messageToSendLogin {
    margin-top: 0.2em;
}

#imgStudentProfile, #imgProfessorProfile {
    cursor: pointer;
}

#imgFileProfileProfessor, #imgFileProfileStudent {
    display: contents;
}

#imgStudentProfile:hover, #imgProfessorProfile:hover {
    opacity: 0.5;
    border: 1.5px solid gray;
}

/*---------------------------------------
      HOME  & SLIDER            
  -----------------------------------------*/
#home {
    padding: 0;
}

    #home h1 {
        color: #ffffff;
    }

    #home h3 {
        color: #f9f9f9;
        font-size: 16px;
        font-weight: 300;
        margin: 0;
        padding: 5px 0 40px 0;
    }

@media (min-width: 768px) {
    .home-slider .col-md-6 {
        padding-left: 0;
    }
}

.home-slider .caption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    background-color: rgba(20,20,20,0.2);
    height: 100%;
    color: #fff;
    cursor: e-resize;
}

.home-slider .item {
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 650px;
}

.caption h3 a {
    color: #FFF;
}

    .caption h3 a:hover {
        color: #FF3;
    }

.home-slider .item-first {
    background-image: url(../images/slider-image1.jpg);
    background-position: center;
}

.home-slider .item-second {
    background-image: url(../images/slider-image2.jpg);
    background-position: center;
}

.home-slider .item-third {
    background-image: url(../images/slider-image3.jpg);
    background-position: center;
}


/*---------------------------------------
      ADD STUDENT              
  -----------------------------------------*/

#firstNameApplicant, #lastNameApplicant,
#studentIdApplicant, #emailApplicant,
#passwordApplicant {
    color: white;
}

#addApplicant figure {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}

    #addApplicant figure span {
        float: left;
        margin-left: -15px;
        padding: 15px 20px;
        position: relative;
        top: 20px;
    }

        #addApplicant figure span i {
            background: #41ADE7;
            border-radius: 50px;
            color: #ffffff;
            font-size: 25px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
        }

#iconPasswordApplicant {
    font-size: 20px;
}

#showPasswordApplicant {
    color: grey;
    position: relative;
    bottom: 2.5em;
    left: 46%;
}

.swal2-popup {
    font-size: 1.5rem !important;
}



/*---------------------------------------
      ADD PROFESSOR              
  -----------------------------------------*/
#firstNameProfessor, #lastNameProfessor, #idProfessor, #emailProfessor,
#passwordProfessor {
    color: white;
}

#iconPasswordProfessor {
    font-size: 20px;
}

#showPasswordProfessor {
    color: grey;
    position: relative;
    bottom: 2.5em;
    left: 46%;
}

/*---------------------------------------
     COURSE LIST              
  -----------------------------------------*/

#courseName, #idCourse, #creditsNumber, #courseStatus, #checkboxStatus, #courseStatusLabelOne {
    color: white;
}

.switchFlex {
    display: flex;
}

#courseStatusLabelOne, #consultType {
    margin-right: 2em;
    margin-left: 1em;
    margin-top: .4em;
}

#courseStatusLabelOneEdit {
    margin-right: 2em;
    margin-top: .4em;
}

#courseTitle {
    text-align: center;
}

#courseTable {
    margin: auto;
    background-color: lightgray;
    color: black;
    text-align: center;
}

table th {
    text-align: center;
}

#inputCourseNameEdit, #inputCreditsNumberEdit {
    display: flex;
}

#inputCourseNameEditPosition, #inputCreditsNumberEditPosition {
    margin-left: 1.2em;
}
/*---------------------------------------
     FOOTER              
  -----------------------------------------*/
footer {
    background: #252020;
    padding: 120px 0;
    margin-top: 2.8em;
}

    footer .section-title {
        padding-bottom: 10px;
    }

    footer h2 {
        font-size: 20px;
    }

    footer a,
    footer p {
        color: #909090;
    }

    footer strong {
        color: #d9d9d9;
    }

    footer address p {
        margin-bottom: 0;
    }

    footer .social-icon {
        margin-top: 25px;
    }

.footer-info {
    margin-right: 2em;
}

    .footer-info h2 {
        color: #ffffff;
        padding: 0;
    }

.footer_menu h2 {
    margin-top: 2em;
}

.footer_menu ul {
    margin: 0;
    padding: 0;
}

.footer_menu li {
    display: inline-block;
    list-style: none;
    margin: 5px 10px 5px 0;
}

.newsletter-form .form-control {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #303030;
    height: 50px;
    margin: 5px 0;
}

.newsletter-form input[type="submit"] {
    background: transparent;
    border: 1px solid #f9f9f9;
    border-radius: 50px;
    color: #ffffff;
    display: block;
    margin-top: 20px;
    outline: none;
    width: 50%;
}

    .newsletter-form input[type="submit"]:hover {
        background: #41ADE7;
        border-color: transparent;
    }

.newsletter-form .form-group span {
    color: #909090;
    display: block;
    font-size: 12px;
    margin-top: 20px;
}



/*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

    .social-icon li {
        display: inline-block;
        list-style: none;
        margin-bottom: 5px;
    }

        .social-icon li a {
            border-radius: 100px;
            font-size: 35px;
            width: 45px;
            height: 45px;
            line-height: 45px;
            text-decoration: none;
            text-align: center;
            transition: all 0.4s ease-in-out;
            position: relative;
            margin: 5px 5px 5px 0;
        }

        .social-icon li .fa-facebook-square {
            color: #4064AC;
        }

        .social-icon li .fa-linkedin-square {
            color: #0A66C2;
        }

        .social-icon li .fa-github-square {
            color: white;
        }

        .social-icon li .fa-twitter {
            color: #1DA1F2;
        }

        .social-icon li .fa-instagram {
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }


            .social-icon li .fa-instagram:hover {
                -webkit-text-fill-color: white;
            }

        .social-icon li a:hover {
            background: #41ADE7;
            color: #ffffff;
        }



/*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

@media screen and (max-width: 1200px) {
    .custom-navbar .navbar-nav.navbar-nav-first {
        margin-left: inherit;
    }
}

@media only screen and (max-width: 992px) {
    section,
    footer {
        padding: 60px 0;
    }

    .home-slider .item {
        background-position: center center;
    }

    .feature-thumb,
    .addApplicant-info,
    .team-thumb,
    .footer-info,
    .addProfessor-info {
        margin-bottom: 50px;
    }

    .contact-image {
        margin-top: 50px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .custom-navbar .nav li a {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 2.5em;
    }

    h1, h2, h3 {
        line-height: normal;
    }

    .custom-navbar {
        background: #ffffff;
        -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        text-align: center;
    }

        .custom-navbar .navbar-brand,
        .custom-navbar .nav li a {
            line-height: normal;
        }

        .custom-navbar .nav li a {
            padding: 10px;
        }

        .custom-navbar .navbar-brand,
        .top-nav-collapse .navbar-brand {
            color: #252525;
            font-weight: 600;
        }

        .custom-navbar .nav li a,
        .top-nav-collapse .nav li a {
            color: #575757;
        }



    .footer-info {
        margin-right: 0;
    }

        .footer-info.newsletter-form {
            margin-bottom: 0;
        }

    .entry-form {
        display: block;
        margin: 0 auto;
    }
}


@media only screen and (max-width: 580px) {
    h2 {
        font-size: 1.8em;
    }

    #testimonial .item {
        padding: 2em;
    }

    .contact-image {
        margin-top: 0;
    }

    .entry-form {
        border-radius: 0;
        padding: 2em;
        max-width: 100%;
        max-height: 100%;
        width: inherit;
        height: inherit;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 2em;
    }

    #home h3 {
        font-size: 14px;
    }

    .entry-form {
        border-radius: 0;
        padding: 2em;
        max-width: 100%;
        max-height: 100%;
        width: inherit;
        height: inherit;
    }
}
/*-----------CONSULT-------*/

#consultTitle, #consultDescription, #consultType, #newsTittle, #newsDescription {
    color: white;
}

.slider {
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }


input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(78px);
}

/*------ ADDED CSS ---------*/
.on {
    display: none;
}

.on, .off {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked + .slider .on {
    display: block;
}

input:checked + .slider .off {
    display: none;
}



/* Rounded sliders */
.slider.round {
    border-radius: 10em;
    width: 7.9em;
    height: 2.3em;
}

    .slider.round:before {
        border-radius: 50%;
    }

/*.entry-formConsult {
    background: #252020;
    text-align: center;
    padding: 3em;
    width: 70em;
    height: 35em;
    position: relative;
    max-width: 109%;
    max-height: 100%;
}*/

.entry-formConsult {
    background: #252020;
    text-align: center;
    padding: 3em;
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 100%;
    border-radius: 5%;
    max-height: 100%;
}

    .entry-formConsult h2 {
        color: #ffffff;
        margin: 0;
    }

    .entry-formConsult .form-control {
        background: transparent;
        border: 0;
        border-bottom: 1px solid;
        border-radius: 0;
        box-shadow: none;
        height: 45px;
        margin: 10px 0;
    }

    .entry-formConsult .submit-btn {
        background: #ffffff;
        border-radius: 50px;
        border: 0;
        color: #252020;
        width: 50%;
        height: 50px;
        margin: auto;
        margin-bottom: 10px;
    }

        .entry-formConsult .submit-btn:hover {
            background: #3f51b5;
            color: #ffffff;
        }


.entry-formNews {
    background: #252020;
    text-align: center;
    padding: 3em;
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 100%;
    border-radius: 5%;
    max-height: 100%;
    color: white;
}

    .entry-formNews h2 {
        color: #ffffff;
        margin: 0;
    }

    .entry-formNews .form-control {
        background: transparent;
        border: 0;
        border-bottom: 1px solid;
        border-radius: 0;
        box-shadow: none;
        height: 45px;
        margin: 10px 0;
    }

    .entry-formNews .submit-btn {
        background: #ffffff;
        border-radius: 50px;
        border: 0;
        color: #252020;
        width: 50%;
        height: 50px;
        margin: auto;
        margin-bottom: 10px;
    }

        .entry-formNews .submit-btn:hover {
            background: #3f51b5;
            color: #ffffff;
        }

#consultDescription, #dConsultDescription, #dConsultAnswer, #dConsultComment, #newsDescription {
    height: 150%;
    resize: none;
}

#consultTitle, #courseConsult {
    width: auto;
}

#typeConsult {
    /*margin-top: -3em;
    margin-left: 10em;*/
}

/*-------Modal--------*/
.modalConsult {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-contentConsult {
    background-color: aliceblue;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 4%;
    border: 2% solid #888;
    width: 75%;
    border-radius: 1%;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

/* Modal Content/Box */
.modal-contentNew {
    background-color: aliceblue;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 4%;
    border: 2% solid #888;
    width: 75%;
    border-radius: 1%;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.modalConsultCommets {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-contentConsultComments {
    background-color: aliceblue;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 45em;
    height: 50%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

#dConsultTitle, #dConsultAuthor, #dConsultCourse, #dConsultDate, #dConsultId {
    /*border-radius: 4px;
    border: 1px solid #ccc;*/
    padding: 1em 0em;
}

#btnCloseModalConsult {
    /*margin-left: 60em;*/
}

#DetailsId, #DetailsDate {
    /*    margin-top: -7em;
    margin-left: 8em;*/
}

#table {
    width: 800px;
    background-color: white;
}

#thAuthor, #thComment, #thDate {
    background-color: burlywood;
}

#alertAddComment {
    margin-left: 250px;
    margin-top: -150px;
}




/*-------------------APPOINTMENT-------------*/

#appointmentType {
    margin-left: -70%;
}

#buttonSubmitAddAppointment, #buttonSubmitAddNews {
    margin-top: 3em;
}

#registerAppintmentForm {
    padding: 25px 0;
}

#appointmentswitchlabel {
    margin-left: 10%;
}

#imageUCRStudent {
    margin-left: 10%;
    margin-top: 15%;
    width: 85%;
    height: 100%;
    box-shadow: 7px 7px 15px #592A08;
    border: 1px solid #ccc;
}
